/* 
 * 1. Google Font
 */



/* 
 * 2.0 Global Style
 */
html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  color: #4e4e4e;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0A2647;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0 0 30px;
}

ul li {
  font-weight: 700;
  /* margin-bottom: 10px; */

}

.custom-list-icon,
.list-arrow-right {
  list-style-type: none;
  padding: 0;
}

.custom-list-icon li,
.list-arrow-right li {
  position: relative;
  padding-left: 20px;
}

.custom-list-icon li::before,
.list-arrow-right li::before {
  position: absolute;
  left: 0;
  color: #4e4e4e;
  font-family: "Ionicons";
}

.social-block {
  list-style-type: none;
  padding: 0;
}

.social-block li {
  display: inline-block;
}

.social-block li a {
  display: inline-block;
  height: 32px;
  width: 32px;
  color: #4e4e4e;
}

.social-block li a i {
  font-size: 1.5em;
}

.social-block li a:hover,
.social-block li a:focus {
  color: #0A2647;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 6px 28px;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 48px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1.6;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ccc;
  background-color: #f8f8f8;
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  padding: 70px 0;
}

.section-title {
  color: #313131;
  font-size: x-large;
  font-weight: bold;
}

.about-text {
  font-weight: 400;
  /* text-transform: capitalize; */
  letter-spacing: 1px;
}

/* 
 * 3.0 Helper Class
 */
/* 
 * 3.1 Helper Class: font-weight
 */
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-700 {
  font-weight: 700;
}

/* 
 * 3.2 Helper Class: margin
 */
.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

/* 
 * 3.3 Helper Class: list
 */
.list-arrow-right li::before {
  content: "\f3d3";
}

/* 
 * 3.4 Helper Class: button
 */
.btn-white {
  color: #0A2647;
  background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  color: #0A2647;
  background-color: #fff;
}

.btn-black {
  color: #fff;
  background-color: #0A2647;
}

.btn-black:hover,
.btn-black:focus {
  color: #fff;
  background-color: #0A2647;
}

/* 
 * 3.5 Helper Class: background
 */
.bg-image,
.bg-image-1,
.bg-image-2 {
  position: relative;
}

.bg-image::before,
.bg-image-1::before,
.bg-image-2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-image-1 {
  background: url(../images/backgrounds/bg-1.jpg) no-repeat center center/cover;
}

.bg-image-1::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-image-2 {
  background: url(../images/backgrounds/bg-2.jpg) no-repeat center bottom/cover;
}

.bg-image-2::before {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) {
  .section {
    padding: 90px 0;
  }

  .section-title {
    color: #313131;
    letter-spacing: 1px;
    margin: 0 0 60px;
    text-transform: uppercase;
    text-align: center;
  }
}

/* 
 * 4.0 Navigation
 */
 .navFlex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0A2647;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* .navbar-custom .navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center;
} */

.navbar-custom .navbar-nav li {
  margin: 0;
}

.navbar-custom .navbar-nav>li>a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>li>a:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .navbar-nav>.active>a {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggle {
  border: 0;
  border-radius: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-solid {
  background-color: #0A2647 !important;
  padding: 0 !important;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

/* .navbar-header {
  display: flex;
  align-items: center;
}

.site-branding {
  margin-right: auto; 
} */

.site-branding-right{
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.site-branding {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  /* margin-top: 8px; */
  /* margin-left: 10px; */
}

.site-branding h3 {
  margin-top: 10px;
  margin-left: 5px;
  padding: 0px;
  text-align: center;
}

.site-branding .logo {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.site-branding .logo:focus,
.site-branding .logo:hover {
  text-decoration: none;
}

/* 
 * 5.0 Site Header
 */
.site-header {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/home.jpeg) no-repeat center center/cover;
  object-fit: cover;
  padding-top: 20px;
  /* background: url('https://images.bhaskarassets.com/thumb/1200x900/web2images/521/2022/11/07/orig_41_1667770431.jpg') no-repeat center center/cover; */
  /* display: table; */
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
  width: 100%;
  z-index: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
}

.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}

.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}

.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
  }

  .site-branding {
    margin-top: 6px;
    margin-left: 0;
  }
}

@media (max-width: 720px) {
  .site-header .intro h2 {
    font-size: 16px;
  }

  .site-header .intro h1 {
    font-size: 18px;
  }

  .site-header .intro p {
    font-size: 14px;
  }

  .section-title {
    font-size: 20px;
  }

  .about .container .row .col-sm-6 p {
    font-size: 14px;
    text-align: justify;
  }

  .navFlex{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

}

/*countdown timer*/
.col-sm-2 {
  width: 20%;
}

/*footer */
.footer-container {
  position: relative;
  text-align: center;
  padding-top: 4rem;
  color: white;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

.ion-person{
  color: black;
}

/* Footer Developers */
.footer-developers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5px;
}

.footer-collage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  /* border-bottom: 1px solid #ffffff; */
}
.footer-text{
  font-size: 1rem;
}

.borderFoot{
  border-right: 1px solid #ffffff;
  align-self: center;
}

.developer-card{
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.developer-card:hover{
  box-shadow: 0 0 11px rgba(83, 103, 126, 0.575); 
  transition: 0.8s;
}

.developerName{
  font-size: 8px;
  color: black;
}

.developer {
  width: 30%;
  margin: 5px;
  padding: 5px;
  /* background-color: #fff; */
}

.developer img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.developer h4, h5, a, p {
  margin: 0;
  font-size: 1.2rem;
}


.social-links {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: inline-block;
  width: 30px;
  margin: 0 0.5rem;
  color: #000;
}

.social-icon img {
  max-width: 100%;
}

/* Footer Waves */
.footer-waves-body {
  position: relative;
  text-align: center;
  /* padding: 1rem 0; */}

.footer-waves-content {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.footer-wave-parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.footer-wave-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.footer-wave-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.footer-wave-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.footer-wave-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Responsive changes */
@media (max-width: 768px) {
  .footer-developers {
    flex-direction: row;
  }
  .developer {
    width: 95%;
  }

  .footer-collage{
    flex-direction: column;
    align-items: center;
  }
  .borderFoot{
    border-right: 0px;
    border-bottom: 1px solid #ffffff;
  }

  .developer h4, h5, a, p{
    font-size: 0.85rem;
  }

  .footer-text{
    font-size: 0.8rem;
  }
}




/* 
 * 6.1 Section: About 
 */
.about .section-title {
  margin: 0 0 25px;
}

.about figure {
  margin-bottom: 25px;
}


/* 
 * 6.2 Section: Facts
 */
/* .facts i {
  color: #fff;
  font-size: 3em;
}

.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
} */

/* 
 * 6.3 Section: Speaker
 */
.speaker {
  text-align: center;
  color: #313131;
  text-transform: uppercase;
  margin: 25px 0;
  border: 1px solid #e5e5e5;
}

.speaker h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.speaker p {
  margin-bottom: 5px;
}

.speaker img:hover {
  opacity: .7;
}

/* 
 * 6.4 Section: Registration & Pricing
 */
/* 
 * 6.5 Section: Contribution
 */
.contribution {
  text-align: center;
  color: #fff;
}

/* 
 * 6.6 Section: Schedule
 */
.schedule-box {
  position: relative;
  background-color: #0A2647;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin: 25px 0 0;
}

.schedule-box::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px solid #fff;
}

/* 
 * 6.7 Section: Schedule
 */
.partner {
  background-color: #f8f8f8;
}

.partner .partner-box {
  display: block;
  opacity: 0.3;
  height: 150px;
  width: 150px;
  margin: 25px auto;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}

.partner .partner-box:hover {
  opacity: 1;
}

.partner .partner-box-1 {
  background: url(../images/partner/partner-1.png) no-repeat center center/contain;
}

.partner .partner-box-2 {
  background: url(../images/partner/partner-2.png) no-repeat center center/contain;
}

.partner .partner-box-3 {
  background: url(../images/partner/partner-3.png) no-repeat center center/contain;
}

.partner .partner-box-4 {
  background: url(../images/partner/partner-4.png) no-repeat center center/contain;
}

.partner .partner-box-5 {
  background: url(../images/partner/partner-5.png) no-repeat center center/contain;
}

.partner .partner-box-6 {
  background: url(../images/partner/partner-6.png) no-repeat center center/contain;
}

.partner .partner-box-7 {
  background: url(../images/partner/partner-7.png) no-repeat center center/contain;
}

.partner .partner-box-8 {
  background: url(../images/partner/partner-8.png) no-repeat center center/contain;
}

/* 
 * 6.8 Section: FAQ
 */
.faq .panel-heading {
  cursor: pointer;
}

.faq .faq-toggle.collapsed::before {
  font-family: "Ionicons";
  content: "\f218";
  -webkit-transition: 0.5s linear ease-out;
  transition: 0.5s linear ease-out;
  position: absolute;
  left: 15px;
}

.faq .faq-toggle::before {
  position: absolute;
  left: 15px;
  font-family: "Ionicons";
  content: "\f209";
}

.faq .panel-group .panel+.panel {
  margin-top: 15px;
}

.faq .panel-default>.panel-heading {
  color: #FFF;
  background-color: #0A2647;
  border-color: #0A2647;
  border-radius: 0;
  padding: 0;
}

.faq .panel-default>.panel-heading a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px 15px 15px 35px;
}

/* 
 * 6.9 Section: photos
 */
.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  overflow: hidden;
  padding: 3px;
  margin: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .grid-item-sm-6 {
    width: 50%;
  }

  .grid-item-sm-3 {
    width: 25%;
  }

  .section-title {
    margin: 0 0 30px;
  }

  figure {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .schedule-box {
    margin: 0;
  }

  .grid-item-md-6 {
    width: 50%;
  }

  .grid-item-md-3 {
    width: 25%;
  }
}

/* 
 * 7.0 Site-footer
 */
.site-footer {
  background-color: #0A2647;
  color: #fff;
  text-align: center;
  /* padding: 30px 0; */
}

.site-footer .site-info {
  font-weight: 400;
  margin-bottom: 10px auto;
  font-size: 10px;
  opacity: 0.5;
}

.site-footer .site-info a {
  color: #fff;
}

.site-footer .social-block li a {
  color: #fff;
}

.site-footer .social-block li a:hover,
.site-footer .social-block li a:focus {
  opacity: 0.8;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid #afafaf;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px;
}

.cardPatron {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 40px;
}

.cardPatron:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transition: 0.5s;
  border-width: 0px;
}

.card-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  position: relative;
  padding: 15px;
}

.card-details p {
  text-align: justify;
}

.card-details h4 {
  text-transform: capitalize;
  text-align: center;
}

.card-details a {
  text-decoration: none;
  position: relative;
  color: #0c2e54;
  font-weight: bold;
  padding: 5px;
  bottom: 0px;
}

.card-details a:hover {
  background-color: #0A2647;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

@media (max-width: 720px) {
  .card {
    margin-bottom: 20px;
    width: 90%;
  }

  .cardPatron{
    margin-bottom: 20px;
    width: 90%;
  }

  .card-image {
    height: 200px;
  }
}

.placeContainer {
  width: 90%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.logo,
a:hover {
  background-color: transparent;
}


option {
  text-transform: capitalize;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0A2647;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 15px;
  width: 50px;
  height: 50px;
}

#myBtn:hover {
  background-color: #000000;
}

.submissionLi{
  font-weight: 400; 
  text-align: justify;
}

.patrons-Image {
  align-self: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 5px;
  object-fit: cover;
  /* border-radius: 50%; */
}

.img-patrons {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-radius: 50%;
}

.img-patrons:hover {
  opacity: 0.7;
}

.logo{
  width: 70px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbarBrandingLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.site-branding-right p{
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.site-branding p {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.patrons-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.patrons-social a {
  padding: 5px;
  margin: 0px;
}

.patrons-social a:hover {
  background-color: #e1efff;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

@media (max-width: 720px)  {
  .logo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .site-branding-right p{
    font-size: 0.8rem;
  }

  .site-branding p{
    font-size: 0.8rem;
  }
  .patrons-Image {
    width: 180px;
    height: 180px;
  }
  .factsContainer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .factsCard{
    width: 90%;
    margin-bottom: 10px;
  }
  .row{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  /* .flexAd{
    flex-wrap: wrap;
  } */
  .submissionLi{
    text-align: left;
  }
}


.factsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.factsCard{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.facts i {
  color: #fff;
  font-size: 3em;
}

.facts h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

/* .flexLeft{
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.flexAd{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */


.glassmorphism-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassmorphism-card {
  /* margin-left: 22.5%; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 20px;
  /* max-width: 55%; Adjust the width as per your preference */
  width: 90%; /* To center the card and make it responsive */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.marquee-container {
  overflow: hidden;
}

marquee {
  display: flex;
  flex-direction: column;
}
.deadline {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.description {
  font-weight: bold;
}
/* The CSS remains the same as before, with one addition for the gap */
.gap {
  display: inline-block;
  width: 20%; /* Adjust the width of the gap as per your preference */
}

table {
    border-collapse: collapse;
    /* width: 100%; */
    color: #0A2647;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  th {
    background-color: #0A2647;
    color: white;
    padding: 10px;
    text-align: center;
  
  }
  
  td {
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  /* Optional: Add some spacing between rows for better readability */
  tr:not(:first-child) {
    border-top: 1px solid #0A2647;
  }

  .divCenterItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }